<html>
<script type="text/javascript" src="../src/popupCtrl.js"></script>
<link rel="stylesheet" href="../css/styles.css">


<body id="options" width=6 00px;>
  <div>
    <!-- Checkbox for active -->
    <input type="checkbox" name="Active" id="Active">
    <label for="setActive">Active</label>
  </div>

  <p></p>

  <div>
    <!-- Checkbox for UOM -->
    <input type="checkbox" name="uomActive" id="uomActive">
    <label for="setUomActive">UOM</label>
  </div>

  <p></p>

  <div>
    <!-- Checkbox for nx -->
    <input type="checkbox" name="nxActive" id="nxActive">
    <label for="setNxActive">Nx</label>
  </div>

  <p></p>

  <div>
    <!-- Checkbox for nx -->
    <input type="checkbox" name="nxActive" id="cxActive">
    <label for="setCxActive">Cx</label>
  </div>

  <p></p>

  <div>
    <!-- Checkbox for nx -->
    <input type="checkbox" name="match" id="match">
    <label for="matchPref">Exact Match</label>
  </div>

  <p></p>

  <div>
    <!-- Creates save button -->
    <label>
      <button type="submit" id="Save">Apply</label>
  </div>

</body>

</html>