<html>
<script type="text/javascript" src="../src/optionsCtrl.js"></script>
<script type="text/javascript" src="../src/messageModel.js"></script>
<script type="text/javascript" src="../src/pMsgCenter.js"></script>
<link rel="stylesheet" href="../css/styles.css">


<body id="options" width=6 00px;>
  <div>
    <!-- Checkbox for active -->
    <input type="checkbox" name="Active" id="active">
    <label for="setActive">Active</label>
  </div>

  <p></p>

  <div>
    <!-- Checkbox for UOM -->
    <input type="checkbox" name="uomActive" id="uomActive">
    <label for="setUomActive">UOM</label>
    <input type="color" value="#ffff00" id='uomColor'>
  </div>

  <p></p>

  <div>
    <!-- Checkbox for nx -->
    <input type="checkbox" name="nxActive" id="nxActive">
    <label for="setNxActive">Nx</label>
    <input type="color" value='#66ffff' id='nxColor'>
  </div>

  <p></p>

  <div>
    <!-- Checkbox for cx -->
    <input type="checkbox" name="nxActive" id="cxActive">
    <label for="setCxActive">Cx</label>
    <input type="color" value='#ffb733' id='cxColor'>
  </div>

  <p></p>

  <div>
    <!-- Button for applyAll -->
    <label>
      <button type="submit" id="applyAll">All providers</label>
  </div>

  <p></p>

  <div>
    <!-- Checkbox for exactMatch -->
    <input type="checkbox" name="match" id="match">
    <label for="matchPref">Exact Match</label>
  </div>

  <p></p>

  <div>
    <!-- Creates save button -->
    <label>
      <button type="submit" id="Save">Apply</label>
  </div>

</body>

</html>