<html>
<script type="text/javascript" src="../src/popupCtrl.js"></script>
<script type="text/javascript" src="../src/messageModel.js"></script>
<script type="text/javascript" src="../src/pMsgCenter.js"></script>
<link rel="stylesheet" href="../css/styles.css">

<body id="popup">
  <div class = "title"> 
    <img src="../images/globe.png"> Fade Lens
  </div>

  <p></p>

  <div class = "active_check">
    <!-- Checkbox for active -->
    <input type="checkbox" name="Active" id="Active">
    <label for="setActive">Active</label>
  </div>

  <p></p>

  <div class = "search_providers"> Providers: 
    
    <p></p>
    
    <!-- Checkbox for UOM -->
    <input type="checkbox" name="uomActive" id="uomActive">
    <label for="setUomActive">UOM</label>

  <p></p>

    <!-- Checkbox for nx -->
    <input type="checkbox" name="nxActive" id="nxActive">
    <label for="setNxActive">Nx</label>

  <p></p>

    <!-- Checkbox for cx -->
    <input type="checkbox" name="nxActive" id="cxActive">
    <label for="setCxActive">Cx</label>

  <p></p>

    <!-- Button for applyAll -->
    <label>
      <button type="submit" id="applyAll">All</label>
  </div>

  <p></p>

  <div class=save_button>
    <!-- Creates save button -->
    <label>
      <button type="submit" id="Save">Apply</label>
  </div>

</body>

</html>