
<html>
  <script src='jquery-v3.js'></script>
  <script type = 'text/javascript' src = 'popup.js'></script>

  <body id = 'popup'>
    <div>
      <!-- Creates an input form that reads in a key word -->
      <label><input type='checkbox' color = '#F0F' name='Active' id = 'Active' unchecked>Active</label>
    </div>
    <p></p>
    <div>
      <!-- Creates an input form that reads in a key word -->
      <input type = "text" placeholder = "Insert keyword" id = "userinput1"> 
    </div>
    <p></p>
    <div>
      <!-- Creates a second input form -->
      <input type = "text" placeholder = "Additional keyword" id = "userinput2"> 
    </div>
    <p></p>
    <div>
      <!-- Creates an input form that reads in a key word -->
      <label><button type = "submit" id="Save">Save</label>
    </div>

  </body>

</html>